.content {
  align-self: center;
  padding-left: 0%;
  padding-right: 0%;
}

.row {
  column-count: 2;
  padding-left: 10%;
  padding-right: 10%;
}
.row div {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}

img {
  width: 100%;
}
